<h1>Todos os shopping</h1>



<table border="2px" style="width: 50%">
	<tr>
		<td>Nome</td>
		<td>Lista de lojas</td>
		<td>Alterar</td>
		<td>remover</td>
	</tr>


<%  @shops.each do |shop| %>

	<tr>
		<td><%= link_to  shop.name ,shopping_show_path(shop.id) %></td>
		<td>Lista de lojas</td>
		<td><%= link_to 'Alterar', shopping_edit_path(shop.id)%></td>
		<td><%=link_to 'Remover', shopping_destroy_path(shop.id) , :method => 'delete'  %></td>


	</tr>
	<% end %>
</table>
<%= link_to 'Voltar',shopping_new_path %>

